body {
   width: 900px;
   margin:40px auto;
   font-family:'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', sans-serif !important;
   color:#555;
   }

path {
   stroke: #fff;
   }

path:hover {
   opacity:0.9;
   }

rect:hover {
   fill:#0c8346;
   }

.axis {
   font: 0.75em sans-serif;
   -ms-writing-mode: tb-rl;
   -webkit-writing-mode: vertical-rl;
   writing-mode: vertical-rl;
   }

.legend tr {
   border-bottom:1px solid grey;
   }

.legend tr:first-child{
   border-top:1px solid grey;
   }

.axis path,
.axis line {
   fill: none;
   stroke: #000;
   shape-rendering: crispEdges;
   }

.x.axis path {
   display: none;
   }

.legend {
   float:right;
   width: 100px;
   margin-top:32px;
   margin-right:320px;
   display:inline-block;
   border-collapse: collapse;
   border-spacing: 0px;
   }

.legend td {
   padding:4px 5px;
   vertical-align:bottom;
   }

.legendTwicnt, .legendPerc {
   align:right;
   width:50px;
   text-align:right;
   }

.piechart {
   float:right;
   margin-top:12px;
   margin-right:20px;
   }

.enTerm {
   clear:both;
   float:right;
   font-size:1.0em;
   height:20px;
   width:120px;
   text-align:left;
   margin-right:420px;
   }

.vec {
   float:right;
   font-size:1.0em;
   height:20px;
   width:40px;
   text-align:center;
   }

.stTerm {
   float:right;
   font-size:1.0em;
   height:20px;
   width:120px;
   text-align:right;
   }

.team {
   float:left;
   margin-left:0px;
   font-size:1.2em;
   border-bottom: 1px solid;
   padding-bottom: 0px;
   }

.histogram {
   clear:both;
   margin-top:0px;
   font-size:0.8em;
   color:#555;
   }

 #loading {
   margin-left: 300px;
   margin-top: 200px;
   }

#loading .loadingMsg {
   text-align:center;
   border:none;
   padding:100px;
   width:100px;
   background-image:url("../image/gif-load.gif");
   background-position: center top;
   background-repeat: no-repeat;
   }

input[type=radio] {
   display: none;
   }
/* チェックされた時のスタイル */
input[type="radio"]:checked + label {
  background: #0c8346;
  color: #FFF;
}
/* マウスオーバーしたときのスタイル */
.label:hover {
  background-color: #69b792;
}
/* lableのスタイル */
.label {
    color:#555;
  border: #dddddd solid 2px;
  display: block;
  height: 45px;
  line-height: 45px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

ul {
   float: left;
   list-style: none;
   padding:0px;
   margin-top:5px;
   }

li {
   float: left;
   list-style: none;
   padding:0px;
   margin:0px;
   }

.inputTime {
   border:0;
   padding:10px;
   font-size:1.0em;
   font-family:Arial, sans-serif;
   color:#777;
   border:solid 1px #ccc;
   margin:0 0 10px;
   width:160px;
   }

input[type="text"] {
   border: 1px solid #999;
   }

input[type="text"]:focus {
   border: 1px solid #0c8346;
   outline: 0;
   }

#header {
   margin-top:0px;
   font-size:1.0em;
   }

#inputFromDate{
   font-size:1.0em;
   float:left;
   width:160px;
   }

#inputToDate{
   font-size:1.0em;
   float:left;
   width:160px;
   margin-left:40px;
   }

#inputDate{
   margin-top: 20px;
   }

#select {
   margin-top:24px;
   }

#dateButton {
   float:left;
   margin-top:25px;
   margin-left:40px;
   width:100px;
}

#dateBtn {
   background: #EEE;
   border: 1px solid #999;
   color: #111;
   width: 100px;
   padding: 10px 0;
   }

#switchF {
   float:right;
   margin-top:16px;
   }

.label {
   margin-left:00px;
  width: 100px;
  text-Align:center;
  }

#hourlyLabel {
   margin-left:5px;
   }

#border {
   clear:both;
   height: 1px;
   border: none;
   border-top: 1px #555 solid;
   }

#graph {
   clear:both;
   }

#dashbord g .x axis {
   height: 45px;
   }

#alertMsg {
   color:red;
   }
