<!DOCTYPE html>
<meta charset="utf-8">
<link href="{{ STATIC_URL }}css/jquery.datetimepicker.css" rel="stylesheet" >
<link href="{{ STATIC_URL }}css/cms.css" rel="stylesheet" >
<script src="{{ STATIC_URL }}js/jquery-1.12.0.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/d3.min.js"></script>
<script src="{{ STATIC_URL }}js/build/jquery.datetimepicker.full.min.js"></script>
<script src="{{ STATIC_URL }}js/cms.js"></script>

<div id = 'header' >
<!-タイトル->
<h1>tweet数比較</h1>
</div>

<!-期間選択枠->
<div id = 'select'>
    <form id="termFm" action="changeTerm/" method="post">{% csrf_token %}

        <!-入力不備に対する警告メッセージ->
        <div id = "alertMsg"></div>

        <!-From data->
        <div id = "inputFromDate">
        <label>From date</label>
            <input type="text" value="" id="fromTime" class="inputTime"/>
        </div>

        <!-To data->
        <div id = "inputToDate">
        <label >To date</label>
            <input type="text" value="" id="toTime" class="inputTime"/>
        </div>

        <!-期間変更ボタン->
        <div id = "dateButton">
        <input id="dateBtn" type="submit" value="期間変更">
        </div>

        <!-Daily,Hourly切り替えラジオボタン->
        <div id = "switchF">
          <ul>
            <li>
              <input type="radio" name="frequency" value="daily" id="daily" checked/>
                <label for="daily" class="label" id = "dailyLabel">Daily</label>
            </li>
            <li>
              <input type="radio" name="frequency" value="hourly" id="hourly" />
                <label for="hourly" class="label" id = "hourlyLabel">Hourly</label>
            </li>
          </ul>
        </div>
        <!-期間選択枠とグラフの境界線->
        <div id = 'border'></div>
    </form>
</div>
<!-グラフ描画->
<div id='graph' ></div>
